<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- <script src="//code.angularjs.org/snapshot/angular.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
   <style>

       body{
           font-size: x-large;
       }

   </style>
  <title>DETECT SCREENS</title>
</head>
<body>
<div class="container" ng-app="myApp">
    <div class="container">
        <div ng-controller="myCtrl1">
        <b><h1> {{heading}}</h1></b>
        <hr>
        
         <h3> <b><p ng-model="details">Total screens connected :</b> {{devicecount}} </p>
           <b>operating system:</b> {{os}}<h3>
           <hr>
         <ul>Screen list :
             <li ng-repeat="x in list">{{x}}</li>
         </ul>
       <hr>
       Double click the button : 
         <button class="btn btn-md btn-outline-dark"  ng-click="detectMultipleScreens()">Detect Multiple Screens</button>
          </div> 
    </div>
  
</div>


  <script>
      var myApp = angular
      .module('myApp',[])
      .controller('myCtrl1',function($scope){
        $scope.heading = 'Detecting multiple Screens in different devices'; 
        // detecting the operating system
        var os = "Unknown OS";
        if (navigator.userAgent.indexOf("Win") != -1) os = 
          "Windows OS";
        if (navigator.userAgent.indexOf("Mac") != -1) os = 
          "Macintosh";
        if (navigator.userAgent.indexOf("Linux") != -1) os = 
          "Linux OS";
        if (navigator.userAgent.indexOf("Android") != -1) os = 
          "Android OS";
        if (navigator.userAgent.indexOf("like Mac") != -1) os = 
          "iOS";
        if(os == "Unknown OS"){
            os = navigator.userAgent;
        }
        $scope.os = os;
        // detecting multiple screens
          $scope.detectMultipleScreens = function () {
              var totalScreens = [];
              var list = [];
              window.getScreenDetails()
                  .then(function (details) {
                      //    console.log(details);
                      totalScreens = details;
                      console.log(totalScreens);
                      console.log("No. of Devices Connected: " + totalScreens.screens.length);
                      $scope.devicecount = totalScreens.screens.length;
                      for (i in totalScreens.screens) {
                          let count = i;
                          if (totalScreens.screens[i].label) {
                              list.push(totalScreens.screens[i].label);
                          } else {
                              list.push('screen ' + ++count);
                          }
                      }
                      $scope.list = list;
                      console.log(list);
                  })
          }
      });
 
  </script>
</body>
</html>